@use "./media-queries";
@use "./typography.scss";
@use "./palette.scss";

* {
  font-family: typography.$default-font;
}

body {
  margin: 0;
}

header,
main {
  margin: 50px 100px 0;

  @include media-queries.mobile {
    margin: 50px 50px 0;
  }
}

#developerName {
  color: palette.$magenta-haze;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  //   align-items: center;

  @include media-queries.mobile {
    display: none;
  }

  &__navbar {
    display: flex;
    flex-direction: row;

    &-list {
      display: flex;
      flex-direction: row;
      list-style: none;

      &-link {
        padding-left: 50px;
      }
    }

    &-btn {
      text-decoration: none;
      border: 2px solid black;
      border-radius: 10%;
      padding: 10px;
      margin-left: 50px;
      box-shadow: 8px 5px 5px rgba(318, 34%, 48%, 0.5);
    }
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 200px 50px 100px 50px;

  @include media-queries.mobile {
    padding: 0;
    margin: 0;
  }

  &__text {
    &-header {
      font-size: typography.$sub-heading-font-size;
      font-weight: normal;
      @include media-queries.mobile {
        font-size: typography.$paragraph-font-size;
      }
    }

    &-para {
      font-size: 75px;
      font-weight: bold;
    }
  }

  &__img {
    @include media-queries.mobile {
      display: none;
    }

    width: 600px;
    height: 600px;
  }
}

.about {
  display: flex;
  justify-content: space-evenly;
  margin: 200px 0 50px 0;

  @include media-queries.mobile {
    flex-direction: column;
    margin: 80px 0 0 0;
  }

  &__img {
    width: 600px;
    height: 700px;
    padding-right: 20px;

    @include media-queries.mobile {
      width: 35vh;
      height: 45vh;
    }
  }

  &__header {
    font-size: typography.$sub-heading-font-size;
    text-align: center;

    @include media-queries.mobile {
      font-size: typography.$mobile-sub-heading-font-size;
    }

    &-para {
      font-size: typography.$paragraph-font-size;
    }
  }

  &__text {
    margin: 50px 0;
  }
}

.skills {
  margin-top: 100px;
  @include media-queries.mobile {
    padding: 0;
  }

  &__header {
    font-size: typography.$sub-heading-font-size;

    @include media-queries.mobile {
      font-size: typography.$mobile-sub-heading-font-size;
    }
  }

  padding: 50px 300px;
  text-align: center;

  &__list {
    margin-top: 50px;
    @include media-queries.mobile {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 5px;
      padding: 0;
      margin-top: 60px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;

    &-img {
      width: 50px;
      height: 50px;
    }
  }
}

.projects {
  &__header {
    font-size: typography.$sub-heading-font-size;
    text-align: center;

    @include media-queries.mobile {
      font-size: typography.$mobile-sub-heading-font-size;
    }
  }
}

.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: auto 25px;

  @include media-queries.mobile {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0;
    margin-bottom: 70px;
  }

  &-card {
    &-background {
      background-color: hsla(343, 51%, 83%, 0.5);
      padding: 50px 20px 0;

      &-img {
        width: 800px;
        height: 500px;

        @include media-queries.mobile {
          width: 350px;
          height: 250px;
        }
      }
    }

    &-heading {
      font-size: typography.$projects-font-size;
      margin: 25px 0;
    }

    &-btn {
      box-shadow: 8px 5px 5px rgba(318, 34%, 48%, 0.5);
      border-radius: 5%;
      padding: 10px;
      font-size: typography.$paragraph-font-size;
      font-weight: bold;
    }
  }
}

.contact {
  background-color: palette.$magenta-haze;
  color: whitesmoke;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;

  @include media-queries.mobile {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-left: 0;

    &-link {
      padding-left: 20px;
    }
  }
}
