$paragraph-font-size: 20px;
$sub-heading-font-size: 30px;
$default-font: "Lucida Console", "Courier New", monospace;
$projects-font-size: 45px;
$mobile-paragraph-font-size: 15px;
$mobile-sub-heading-font-size: 35px;
